bin/
obj/
.vs/
.idea/
*.user
*.suo
appsettings.Development.json
**/node_modules/
frontend/dist/
frontend/.angular/
.dotnet/
*.log
publish/
src/CoreLens.Api/wwwroot/*
!src/CoreLens.Api/wwwroot/.gitkeep
